<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="foundation.e.accountmanager.permission.ACCOUNT_EVENTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission"
        tools:targetApi="s" />

    <permission
        android:name="foundation.e.passwords.PERMISSION_BACKUP_APP_PRIVATE_API"
        android:protectionLevel="signature" />
    <uses-permission android:name="foundation.e.passwords.PERMISSION_BACKUP_APP_PRIVATE_API" />

    <permission
        android:name="foundation.e.passwords.PERMISSION_SAVE_CREDENTIAL_API"
        android:protectionLevel="signature" />

    <application
        android:name=".NCPApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/e_os_app_name"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:supportsRtl="true"
        android:fullBackupContent="@xml/full_backup_content"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.NextcloudPasswords"
        android:enableOnBackInvokedCallback="true"
        tools:ignore="UnusedAttribute">

        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.hegocre.nextcloudpasswords.action.main" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.AutoLoginActivity"
            android:exported="false" />

        <activity-alias
            android:name=".ui.activities.AutoLoginActivityAlias"
            android:exported="true"
            android:label="@string/e_os_app_name"
            android:targetActivity=".ui.activities.AutoLoginActivity">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.homepage" />
            <meta-data
                android:name="com.android.settings.icon"
                android:resource="@drawable/ic_e_settings_password_app" />
            <meta-data
                android:name="com.android.settings.icon_tintable"
                android:value="false" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/password_app_dashboard_summary" />
            <meta-data
                android:name="com.android.settings.order"
                android:value="-38" />
        </activity-alias>

        <activity
            android:name=".ui.activities.WebLoginActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.hegocre.nextcloudpasswords.action.weblogin" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.LoginActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.hegocre.nextcloudpasswords.action.login" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.SettingsActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.hegocre.nextcloudpasswords.action.settings" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.AboutActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.hegocre.nextcloudpasswords.action.about" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.AccountRemovedReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="foundation.e.accountmanager.permission.ACCOUNT_EVENTS">
            <intent-filter>
                <action android:name="foundation.e.accountmanager.action.ACCOUNT_REMOVED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.autofill.NCPAutofillService"
            android:exported="true"
            android:label="@string/e_os_app_name"
            android:permission="android.permission.BIND_AUTOFILL_SERVICE">
            <intent-filter>
                <action android:name="android.service.autofill.AutofillService" />
            </intent-filter>
            <meta-data
                android:name="android.autofill"
                android:resource="@xml/service_configuration" />
        </service>

        <service
            android:name=".services.autofill.NCPCredentialProviderService"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_autofill_provider"
            android:label="@string/e_os_app_name"
            android:permission="android.permission.BIND_CREDENTIAL_PROVIDER_SERVICE"
            tools:targetApi="34">
            <intent-filter>
                <action android:name="android.service.credentials.CredentialProviderService" />
            </intent-filter>

            <meta-data
                android:name="android.credentials.provider"
                android:resource="@xml/credential_provider" />
        </service>

        <activity
            android:name=".services.autofill.NCPCredentialSaveConfirmationActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/Theme.MurenaAutoFill.Transparent" />

        <activity
            android:name=".services.autofill.NCPAutofillSaveInteractionActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/Theme.MurenaAutoFill.Transparent" />

        <activity
            android:name=".services.autofill.NCPAutofillPendingSaveUnlockActivity"
            android:excludeFromRecents="true"
            android:exported="false" />

        <activity
            android:name=".services.autofill.NCPAutofillUnlockActivity"
            android:excludeFromRecents="true"
            android:exported="false" />

        <activity
            android:name=".services.autofill.NCPCredentialGetActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/Theme.MurenaAutoFill.Transparent" />

        <activity
            android:name=".services.autofill.NCPCredentialUnlockActivity"
            android:excludeFromRecents="true"
            android:exported="false" />

        <activity
            android:name=".services.autofill.NCPAutofillDatasetAuthActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/Theme.MurenaAutoFill.Transparent" />

        <activity
            android:name=".services.autofill.NCPSuggestPasswordActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/Theme.MurenaAutoFill.Transparent" />

        <provider
            android:name=".providers.PasswordSyncProvider"
            android:authorities="foundation.e.passwords.providers.PasswordSyncProvider"
            android:enabled="true"
            android:exported="true"
            android:label="@string/e_os_app_name"
            tools:ignore="ExportedContentProvider" />

        <service
            android:name=".backupApp.BackupAppService"
            android:exported="true"
            android:permission="foundation.e.passwords.PERMISSION_BACKUP_APP_PRIVATE_API">
            <intent-filter>
                <action android:name="foundation.e.passwords.ACTION_BACKUP_APP_PRIVATE_API" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.activities.BackupAppSetupActivity"
            android:exported="true"
            android:permission="foundation.e.passwords.PERMISSION_BACKUP_APP_PRIVATE_API">
            <intent-filter>
                <action android:name="foundation.e.passwords.ACTION_SETUP_E2EE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.SaveCredentialActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:permission="foundation.e.passwords.PERMISSION_SAVE_CREDENTIAL_API"
            android:theme="@style/Theme.MurenaAutoFill.Transparent">
            <intent-filter>
                <action android:name="foundation.e.passwords.ACTION_SAVE_CREDENTIAL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
